body
  font-family: Myriad Pro
  margin: 0
  ul
    margin: 0
    padding: 0
    li 
      list-style: none
      float: left
  .master-header
    margin: 35px 0px 35px 0px
    width: 100%
    float: left
    position: relative
    #koombea-logo
      float: left
      margin-left: 35px
      a
        float: left
        img
          float: left
    #koombea-top-nav
      margin-left: auto
      margin-right: auto
      width: 405px
      li
        margin-right: 45px
      .icon-message
        color: #FFF
        background: red
        border-radius: 10px
        position: absolute
        padding: 10px
        max-width: 150px
        display: none
        z-index: 10
      #social-top-banner
        background: #FFF
        .share-exp
          font-size: 14px
          color: #3f434d
          width: 100%
          text-align: center
          margin-bottom: 10px
        .social-icon
          width: 25px
          height: 25px
          float: left
          margin-right: 25px
          a
            width: 25px
            height: 25px
            float: left
            img
              width: 25px
              height: 25px
              float: left
    .user-info
      float: right
      margin-right: 45px
      .user-container
        float: left
        .user-image
          float: left
          margin: -7px 10px 0px 0px
          cursor: pointer
          img
            float: left
        .username
          float: left
          margin-right: 10px
          cursor: pointer
        .user-edit
          float: left
          cursor: pointer
          img
            float: left
      .user-options
        display: none
        position: absolute
        right: 0
        background: #FFF
        width: 200px
        padding: 15px
        z-index: 10
        top: 32px
        border: 1px solid #A5A7AD
        .user-opt
          float: left
          width: 100%
          font-size: 14px
          color: #3f434d
          a
            text-transform: uppercase
            text-align: left
            text-decoration: none
            margin-bottom: 5px
            border-bottom: 1px solid #A5A7AD
            float: left
            color: #3f434d