<div class="master-footer">
	<div class="footer-all-rights">&copy; All rights reserved - 2015 Koombea</div>
	<div class="footer-logo"><a href="/"><img src="assets/icons_logos/footer_logo.jpg"></a></div>
</div>