<div class="master-header">
	<div id="koombea-logo"><a href="#"><img src="assets/icons_logos/header_logo.jpg"></a></div>
	<ul id="koombea-top-nav">
		<li class="top-nav-icon"><a href="#"><img src="assets/icons_logos/faq_icon.jpg"></a>
			<div class="icon-message">Go to our FAQ page</div>
		</li>
		<li class="top-nav-icon"><a href="#"><img src="assets/icons_logos/watch_icon.jpg"></a>
			<div class="icon-message">Movies</div>
		</li>
		<li class="top-nav-icon"><a href="#"><img src="assets/icons_logos/play_icon.jpg"></a>
		<div class="icon-message">We are still working on bringing you the best movies and series of the moment. Stay tuned with Koombea Movies!</div>
		</li>
		<li class="top-nav-icon"><a href="#"><img src="assets/icons_logos/game_icon.jpg"></a>
		<div class="icon-message">We are still working on bringing you the best games for the movies below. Stay tuned with Koombea Movies!</div>
		</li>
		<li class="top-nav-icon"><a href="#"><img src="assets/icons_logos/device_icon.jpg"></a>
		<div class="icon-message">We are sorry, we still don't support device selection at this time. Stay tuned with Koombea Movies!</div>
		</li>
		<li class="top-nav-icon"><a href="#"><img src="assets/icons_logos/share_icon.jpg"></a>
		<div class="social-top-banner">
			<div class="social-icon"><a href="#">Twitter</a></div>
			<div class="social-icon"><a href="#">Facebook</a></div>
			<div class="social-icon"><a href="mailto:">Email to a friend</a></div>
		</div>
		</li>
	</ul>
	<div class="user-info">
		<div class="user-container">
			<div class="user-image"><img src="assets/icons_logos/carol_photo.jpg"></div>
			<div class="username">Carol Danvers</div>
			<div class="user-edit"><img src="assets/icons_logos/edit_user.jpg"></div>
		</div>
		<ul class="user-options">
			<li class="user-opt"><a href="#">View Profile</a></li>
			<li class="user-opt"><a href="#">Favorite Movies</a></li>
			<li class="user-opt"><a href="#">Sign Out</a></li>
		</ul>
	</div>
</div>